export default {
  gapi: {
    apiKey: '',
    clientId: '',
    discoveryDoc: '',
    scopes: '',
  },
  db: {
    spreadsheetId: '',
  },
  ui: {
    map: {
      id: '',
      center: [0, 0],
      zoom: 0,
      tileLayer: {
        url: '',
        maxZoom: 0,
        attribution: '',
        id: '',
        tileSize: 0,
        zoomOffset: 0,
      },
    },
  }
};
